CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_tr3000-512mb-v1=y

# PassWall2
CONFIG_PACKAGE_luci-app-passwall2=y
CONFIG_PACKAGE_luci-app-passwall2_Iptables_Transparent_Proxy=y
CONFIG_PACKAGE_luci-app-passwall2_Nftables_Transparent_Proxy=y
CONFIG_PACKAGE_luci-i18n-passwall2-zh-cn=y

# PassWall2 core protocols
CONFIG_PACKAGE_sing-box=y
CONFIG_PACKAGE_xray-core=y

# v2ray geodata
CONFIG_PACKAGE_v2ray-geoip=y
CONFIG_PACKAGE_v2ray-geosite=y

# DNS & TProxy support
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_nftables=y
CONFIG_PACKAGE_dnsmasq-full=y
# CONFIG_PACKAGE_dnsmasq is not set